<div class="inner">
  <h1>Contact</h1>
  <table class="contact">
    <tbody>
      <tr>
        <th>
          <i class="far fa-envelope"></i>
          <p>Gmail</p>
        </th>
        <td>broccolingual@gmail.com</td>
      </tr>
      <tr>
        <th>
          <i class="fab fa-github"></i>
          <p>Github</p>
        </th>
        <td>
          <a href="https://github.com/broccolingual" target="_blank">broccolingual</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>