<% if model.errors.any? %>
  <div class="alert">
    <p>Error: </p>
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>