<header>
  <div class="container">
    <div class="menu">
      <ul>
        <li>
          <i class="fas fa-home"></i>
          <%= link_to "Home", root_path %>
        </li>
        <li>
          <i class="fas fa-user-friends"></i>
          <%= link_to "About me", homes_about_path %>
        </li>
        <li>
          <i class="far fa-address-card"></i>
          <%= link_to "Contact", homes_contact_path %>
        </li>
      </ul>
    </div>
    <div class="logo">
      <h2>Broccolingual</h2>
    </div>
  </div>
</header>