<div class="profile">
  <div class="thumb">
    <%= image_tag 'me.jpg' %>
  </div>
  <h2 class="name">
    Broccolingual
  </h2>
  <p class="info">
    Developer of a Discord Bot, Frontend(Nuxt.js, Ruby on Rails), Heroku, Firebase
  </p>
  <p class="organization">
    <i class="far fa-building"></i>
    Infratop inc. (intern), Student
  </p>
  <p class="location">
    <i class="fas fa-map-marker-alt"></i>
    Osaka, Japan
  </p>
  <div class="links">
    <ul>
      <li>
        <a href="https://qiita.com/Broccolingual">
          <i class="fas fa-book"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/broccolingual">
          <i class="fab fa-github"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
